
{% extends "new/layout.html" %}
{% load static %}

{% block body%}


   
    <!-- section -2  -->
    <div class="container">
      <h1 class="text-center">Saiful Islam</h1>
      <p>Hey there! I am Saiful Islam, a student and a tech enthusiast. I saw my first computer when I was in 2nd or maybe 3rd grade (don't remember exactly).
        I was fascinated my seeing that. After that I really wanted to know what kind of magic that computer thing was. Later I found out that engineers are the magician who makes those magical devices. So this is how found out about my aim in life.
      </p>

      <div class="d-flex justify-content-center">
        <img src="{% static 'new/images/saiful.JPG' %} " class="rounded float-end w-50" alt="My image">
      </div>
      
     

    </div>
    <!-- section -2  -->

    <!-- Section-4 Work Experience -->
    <!--
    <div class="container mt-5">
          <div class="card">
            <div class="card-header">
              <h3>Work Experience</h3>
            </div>
            <div class="card-body">
              <h5>Daffodil International University</h5>
              <div><strong>February 2022 - Present</strong></div>
              <p class="card-text">Teaching Apprentice Fellow</p>
            </div>

            <div class="card-body">
              <h5>Expert Consortium Ltd.</h5>
              <div><strong>June 2021 - January 2022</strong></div>
              <p class="card-text">ML Programmer</p>
              <div>
                <ol class="list-group list-group-numbered">
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Django</div>
                      AI model integration with website, REST Framework, Celery, RabbitMQ Server.
                    </div>
              
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">NLU</div>
                      Intent Classification, Name-Entity Recognition.
                    </div>        
                  </li>

                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Deploy Chatbot</div>
                      In different communication channels like Discord, Messenger, Telegram and website.
                    </div>
                  </li>

                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Text to Speech</div>
                      Pyttsx3, Gtts, Nvidia Nemo, Mozilla TTS.
                    </div>
                  </li>

                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Hugging Face</div>
                      Gpt, Gpt-2(Conv AI), BERT (Question-Answer).
                    </div>
                  </li>

                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">RASA Chatbot Framework</div>
                      Weather Bot, Search Flight, Book Hotel, Currency Converter, Send Email.
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>          
    </div>
  -->
    <!-- Section-4 Work Experience -->
    <!-- Section-5 Skills -->
    <div class="container mt-5">
      <div class="card">
        <div class="card-header">
          <h3>Skills</h3>
        </div> 
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5>Language</h5>
              <ul>
                <li>C</li>
                <li>Java</li>
                <li>Python</li>
              </ul>
            </div>
            <div class="col">
              <h5>Alogorithm</h5>
              <ul>
                <li>Supervised</li>
                <li>Unsupervised</li>
                <li>Data Visualization</li>
                <li>Performance Measure</li>            
              </ul>
            </div>
            <div class="col">
              <h5>Library</h5>
              <ul>
                <li>NumPy, Pandas, Seaborn</li>                      
                <li>Scikit-Learn</li>
                <li>Keras,Tensorflow</li>
                <li>PyTorch</li>
              </ul>
              
            </div>
            <div class="col">
              <h5>Frontend</h5>       
              <ul>
                <li>Html</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>Jinja2</li>            
              </ul>
            </div>
              <div class="col">
                <h5>Backend</h5>
                <ul>
                  <li>Django</li>
                  <li>Flask</li>
                  <li>Django REST framework</li>
                  <li>Django Graphene</li>            
                </ul>
              </div>
          </div>
          <div class="row">
            <div class="col">
              <h5>Database</h5>
              <ul>
                <li>SQLite</li>
                <li>MS SQL</li>
                <li>PostgreSQL</li>             
              </ul>
            </div>
            <div class="col">
              <h5>NLP</h5>       
              <ul>
                <li>TextBlob</li>
                <li>Nltk</li>
                <li>SpaCy</li>
                <li>GPT,GPT-2, BERT</li>            
              </ul>
            </div>
            <div class="col">
              <h5>Chatbot</h5>
              <ul>
                <li>RASA</li>
                <li>DialogFlow</li>
                <li>Chatterbot</li>                         
              </ul>
            </div>
            <div class="col">
              <h5>Platform</h5>       
              <ul>
                <li>Anaconda</li>
                <li>JupyterLab</li>
                <li>Google Colab</li>
                <li>VS Code</li>            
              </ul>
            </div>
            <div class="col">
              <h5>Version Controlling</h5>
              <ul>
                <li>Git</li>
                <li>Docker</li>             
              </ul>
            </div>
          </div>
          </div>                   
        </div>       
      </div>      
    </div>

    <!-- Section-5 Skills -->
{% endblock %}
    
    

   